.cityList {
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  @media screen and (min-width: 768px) {
    .citylist {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1.5rem;
    }
  }
  @media screen and (min-width: 992px) {
    .citylist {
     width: 85vw;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1140px) {
    .citylist {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  