@import "../index.css";

.city {
  background: mainGrey;
  border-radius: 0.8rem;
  margin: 1rem 0;
}
 img {
    width: 60%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: block;
    margin-left: 20px;
    
  }

.img-container {
  position: relative;
}



h3{
    text-transform: uppercase;
    color: blueviolet;
    margin-left: 50px;
    
}
h4{
  
  color: blueviolet;
  margin-left: 10px;
  
}

span{
    color: brown;
    font-size: 1.2rem;
}